node_modules/
.pnp/
.pnp.*
yarn-error.log*
yarn-debug.log*
npm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

.next/
out/
build/



logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/coverage
*.lcov

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

*.tsbuildinfo
next-env.d.ts

.vercel
.vercelignore

*.pem

.env*
!.env.example
